body {
    font: 100%/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Tahoma,
        "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    line-height: 1.5;
}

main {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
}

header {
    margin-bottom: 1rem;
}

h1,
h2 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

time {
    color: #888;
}

hr {
    border: 1px solid #ddd;
    margin: 2rem auto;
}

a {
    text-decoration: none;
    outline: 0;
    color: #447cb3;
}

article a:focus,
article a:hover,
.pagination a:focus,
.pagination a:hover {
    border-bottom: 2px solid #447cb3;
}

::selection {
    background-color: #fff888;
}

header.blog-header {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: -4em;
}

header.blog-header img {
    margin-right: 2em;
}

h1.blog-title {
    margin: 0;
    margin-bottom: 0.2em;
    line-height: 1;
}

h2.blog-subtitle {
    margin: 0;
    padding: 0;
    color: #d2d2d2;
    line-height: 1;
}

h2.post-title a {
    color: #151515;
    border: none;
}

h2.post-title a:focus,
h2.post-title a:hover {
    color: #3e3e3e;
}

nav ul {
    list-style: none;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 0.5em;
    padding: 0;
    font-weight: bold;
}

nav ul li:last-child {
    margin-right: 0;
}

body.home li.nav-Home,
body.projects li.nav-Projects,
body.about li.nav-About {
    border-bottom: 2px solid #447cb3;
}

footer {
    margin-top: 2.5em;
    text-align: center;
    opacity: 0.5;
}

.footer-social {
    margin-bottom: 1.5rem;
}

.footer-social a {
    color: #000000;
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

pre {
    padding: 1em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

code {
    font-family: "Consolas", Courier, monospace;
    font-size: 0.85em;
    color: #596364;
    background-color: #f8f8f8;
    padding: 2px 4px;
    line-height: 1.2em;
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

pre code {
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
    display: block;
}

blockquote {
    font-size: 1.6em;
    border-left: 0.4em solid rgba(0, 0, 0, 0.05);
    margin-left: 1em;
    padding-right: 1.5em;
    padding-left: 1em;
}

blockquote p {
    font-family: "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial,
        "Nimbus L", sans-serif;
    font-size: 0.65em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 30px;
}

.tags {
    text-align: right;
}

.author {
    width: 100%;
    text-align: left;
    text-transform: none;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.author h4 {
    font-size: 1.5em;
}

.authorimage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover !important;
    margin-right: 17px;
    float: left;
}

.pagination {
    text-align: center;
}

.preview:not(:last-child):after {
    content: "—";
    color: #d3d3d3;
}

.preview:last-child {
    margin-bottom: 2.5em;
}

@media only screen and (max-width: 900px) {
    header.blog-header {
        margin-left: 0;
    }
}

.post-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.site-nav-icon {
    height: 30px;
    width: 30px;
    padding: 0 7.5px;
}
